@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Smart Irrigation System</h1>
    <strong>
        <h3 class="pt-4 pb-3">Enter your monitoring screen <a style="color: yellow" href="/Home/myGarden">here!!</a>.</h3>
    </strong>
</div>
<div class="row">
    <div class="col">
        <img class="col col-sm-12 col-md-12 col-lg-12 h-100 m-auto" src="images/bg.jpg" />
    </div>
</div>
