
@{
    ViewData["Title"] = "myGarden";
}

<h1>My Garden</h1>
<h5>Garden Moisture Level</h5>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
</div>

<script type="text/javascript">
        //Author : Avishek Ram Copyright 20222
        
        (function mymain(){
            $(document).ready(function() {
                $('#college_select').select2(
                {
                    dropdownParent: $('#college_select').parent(),
                    allowClear: true, 
                    placeholder:"Select a College",
                    allowClear: true,
                    width:"55%"
                });

                $("#college_select").val("")
                $("#college_select").trigger("change");

            });
        })();
        
        $("#college_select").on('change', function(){

            
        });

        
        function get_radio_value(val){
            switch(val) {
                case val == "0":
                    return "Strongly Disagree";
                    break;
                case val == "1":
                return "Disagree";
                    break;
                case val == "2":
                return "Neutral";
                    break;
                case val == "3":
                return "Agree";
                    break;
                case val == "4":
                return "Strongly Agree";
                    break;
                default:
                    return "unknown"
            }
        }

         var api_url = "http://172.31.53.37/testmoodle/moodle/local/termsurvey/survey_api.php"
            $.ajax({
                    url: api_url,
                    dataType: "text",
                    type: "POST",
                    data: {survey_model : JSON.stringify(survey_data)},
                    success: function(response){
                        //console.log(response);
                        swal({
                            title: "Success!",
                            text: JSON.parse(response),
                            icon: "success",
                        }).then((confirm)=>
                        {
                            if(confirm){
                                location.href = 'http://172.31.53.37/testmoodle/moodle/my';
                            }
                        });
                    },
                    error: function(response){
                        //console.log(response);
                            swal({
                                title: "Error Occured!",
                                text: "Error Occured while Submission",
                                icon: "warning",
                                buttons: true
                        }).then((confirm)=>
                        {
                            if(confirm){
                                location.href = 'http://172.31.53.37/testmoodle/moodle/my';
                            }
                        });
                    }
            });

  </script>